[Desktop Entry]
Encoding=UTF-8
Name=ElifeCoin
Comment=ElifeCoin P2P Cryptocurrency
Comment[ru]=ElifeCoin, P2P криптовалюта
Comment[fr]=ElifeCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ElifeCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/ElifeCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/ElifeCoin80.xpm
MimeType=x-scheme-handler/ElifeCoin;
Categories=Office;
